* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a.banner {
  display: block;
  width: 700px;
  height: 300px;
  /* background: #ccc; */
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  background-image: url(imag/마녀.gif);
  background-size: contain;
  background-repeat: no-repeat;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}
.logo {
  position: absolute;
  left: 0px;
  top: 30px;
  animation-name: logo;
  animation-delay: 2s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes logo {
  0% {
    left: -160px;
  }
  20% {
    left: 100px;
  }
  100% {
    left: 30px;
  }
}
#container p {
  position: absolute;
  font-family: "Nanum Myeongjo", serif;
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.3em;
  left: 50px;
  bottom: 100px;
  animation-name: col;
  animation-delay: 2s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes col {
  0% {
    left: -160px;
  }
  20% {
    left: 100px;
  }
}
.btn {
  position: absolute;
  border: none;
  left: 80px;
  bottom: 40px;
  width: 85px;
  height: 30px;
  font-weight: bold;
  background: yellow;
  color: #000;
  font-size: 16px;
}
