* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

a.banner {
  display: block;
  width: 480px;
  height: 200px;
  /* background: #ccc; */
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  background-image: url(./images/Honeycam\ 2022-06-17\ 08-40-35.gif);
  /* 2번째 이미지를 오른쪽에 붙이기 (1번, 2번) */
  background-position: right top;
  /* 2번째이미지의 남는 여백을 조정하기 */
  background-size: contain;
  background-repeat: no-repeat;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.logo {
  position: absolute;
  left: 30px;
  top: 20px;
  animation-name: logo;
  animation-duration: 10s;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;
  /* 가속도는 마지막에 추가 예정 */
}
/*
    | - - - - - | - - - - - | - - - - - | - - - - - |
        in            정지                   out
*/

@keyframes logo {
    0%{
       left: -200px;
    }
    20%{
        left: 100px;
    }
    100%{
        
    }
}
p{
  position: absolute;
  font-family: 'Nanum Myeongjo', serif;
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.3em;
  left: 40px;
  bottom: 30px;
  animation-name: story;
  animation-duration: 15s;
  /* animation-iteration-count: infinite; */
  
}

@keyframes story {
  0%{
    bottom: -30px;
  }
  20%{
    bottom: 30px;
  }
}
.btn {
  position: absolute;
  left: 338px;
  top: 140px;
  width: 82px;
  height: 28px;
  background: #000;
  color: #fff;
  font-size: 14px;
}
